---
import Layout from '../layouts/Layout.astro';

import { Image } from "astro:assets";
import whatsappLogo from "../images/whatsapp.svg";
import teslimeKleinImg from "../images/teslime_klein.webp";
import teslimeLogoImg from "../images/teslime_logo.webp";
import hydraFaceTopImag from "../images/hydra-face_top.webp";
import willkommenTopImg from "../images/willkommen_top.webp";
import microneedlingTopImg from "../images/microneedling_top.webp";
import laserTopImg from "../images/laser_top.webp";
import fusspflegeTopImg from "../images/fusspflege_top.webp";
import hautanalyseTopImg from "../images/hautanalyse_top.webp";
import wimpernliftingTopImg from "../images/wimpernlifting_top.webp";
import faceliftingTopImg from "../images/face-lifting_top.webp";
import whatsappQrImg from "../images/whatsapp_qr.webp";
import teslimeQrImg from "../images/teslime_qr.webp";
// import urlaubFlugzeugImg from "../images/urlaub-flugzeug.png";
import facebookQrImg from "../images/facebook_qr.webp";
import imageQrImg from "../images/instagram_qr.webp";
import googleQrImg from "../images/google_qr.webp";
import gesichtsanalyseImg from "../images/gesichtsanalyse.webp";
import gesichtsanalyseSternImg from "../images/Gesichtsanalyse-Stern.webp";
import gesichtsanalyseSternMiniImg from "../images/Gesichtsanalyse-Stern-Mini.webp";
import hautanalyseImg from "../images/hautanalyse.webp";
import hydraFaceGeraet1Img from "../images/hydra-face-geraet1.webp";
import hydraFaceGeraet2Img from "../images/Hydra-Face-geraet2.webp";
import hydraFaceVorherImg from "../images/Hydra-Face3-vorher.webp";
import hydraFaceNachherImg from "../images/Hydra-Face4-nachher.webp";
import gesichtsbehandlung1Img from "../images/gesichtsbehandlung1.png";
import gesichtsbehandlung2Img from "../images/gesichtsbehandlung2.png";
import gesichtsbehandlung3Img from "../images/gesichtsbehandlung3.png";
import microneedlingAblaufImg from "../images/microneedling-ablauf.webp";
import microneedlingMaschineImg from "../images/microneeling-rf-mashine.webp";
import microneedlingFrauImg from "../images/microneedling-Frau.webp";
import faltenkiller1Img from "../images/faltenkiller1.webp";
import faltenkiller2Img from "../images/faltenkiller2.webp";
import faltenkiller3Img from "../images/faltenkiller3.webp";
import wimpernwelleImg from "../images/wimpernwelle.jpg";
import laserImg from "../images/laser.jpeg";
import laserDiodenImg from "../images/laser_dioderm.jpg";
import laserSommerbeineImg from "../images/laser_sommerbeine.jpg";
import laserWinterzeitImg from "../images/laser_winterzeit.png";
import laserErklaerungImg from "../images/laser_erklaerung.jpg";
import hotStoneMassageImg from "../images/hot-stone-massage.png";
import fusspflegeImg from "../images/fusspflege.jpg";
import nagelpilzErkrankungsstadienImg from "../images/nagelpilz_erkrankungsstadien.jpg";
import pactTherapieImg from "../images/pact_therapie.jpg";
import nagelkorrekturSpangeImg from "../images/nagelkorrektur_spange.jpeg";
import rezensionenSterneImg from "../images/rezensionen_sterne.webp";
import rezension1Img from "../images/rezension1.webp";
import rezension2Img from "../images/rezension2.webp";
import rezension3Img from "../images/rezension3.webp";
import rezension4Img from "../images/rezension4.webp";
import rezension5Img from "../images/rezension5.webp";
import rezension6Img from "../images/rezension6.webp";
import rezension7Img from "../images/rezension7.webp";
import rezension8Img from "../images/rezension8.webp";
import instagramImg from "../images/instagram.png";
import termineKosmetikImg from "../images/termine-kosmetik.jpg";

const googleMapsKey = import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY;
---

<Layout title="Teslime Kosmetik und medizinische Fachfusspflege">
	<header id="header">
		<div class="header-container">
			<h1>Kosmetik und med.&nbsp;Fachfusspflege Teslime&nbsp;Schuster</h1>
			<small>- ärztlich geprüfte Kosmetikerin und med.&nbsp;Fachfußpflegerin -</small>
			<address>
				<span class="no-wrap">Eva-Zeisel-Str. 4,</span> <span class="no-wrap">78713 Schramberg-Sulgen,</span> <span class="no-wrap">&#9993; teslime.schuster@gmail.com</span><br>
				<span class="no-wrap">✆ 0176-62157680 (WhatsApp),</span> <span class="no-wrap">&phone; 07422-567820</span>
			</address>

			<a href="https://wa.me/4917662157680" target="_blank" rel="noopener noreferrer">
				<Image width="50" class="whatsapp-logo" src={whatsappLogo} alt="Schreib mir auf Whatsapp" loading="eager"/>
			</a>
		</div>

		<nav class="menu" id="menu">

			<button class="menu__home" id="menu__home">Home</button>

			<button class="menu__toggle" id="menu__toggle">
				Menü
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>

			<div class="menu__dropdown">
				<ul>
					<div>Aktuelles/Aktionen</div>
					<li><a class="stellenanzeige" href="Stellenangebot.pdf" target="_blank">STELLENANGEBOT</a></li>
					<div>Bereich Kosmetik</div>
					<li><a class="stellenanzeige" href="NiSV.jpg" target="_blank">NiSV-VERORDNUNG</a></li>
					<li><a href="#scroll-hautanalyse">Bildbasierte Hautanalyse (ich liebe dieses Gerät)</a></li>
					<li><a href="#scroll-gesicht">Hydra-Face Gesichtsbehandlung</a></li>
					<li><a href="#scroll-microneedling">Microneedling - mit und ohne Radiofrequenz</a></li>
					<li><a href="#scroll-facelifting">Face-Lifting mit Spezialultraschall</a></li>
					<li><a href="#scroll-augen">Wimpernlifting</a></li>
					<li><a href="#scroll-haare-wachs">Haarentfernung&nbsp;mit&nbsp;Wachs</a></li>
					<li><a href="#scroll-haare-diode">dauerhafte Haarentfernung mit <span class="no-wrap">Dioden-Laser</span></a></li>
					<li><a href="#scroll-massagen">Massagen</a></li>
					<li><a href="#scroll-manikuere">Maniküre</a></li>
					<li><a href="#scroll-shellac">Shellac</a></li>
					<div>Bereich Fusspflege</div>
					<li><a href="#scroll-fuss">med.&nbsp;Fachfusspflege</a></li>
					<li><a href="#scroll-fuss-nagelpilz">Nagelpilz</a></li>
					<li><a href="#scroll-fuss-eingewachsen">Eingewachsene&nbsp;Nägel-Spangen</a></li>
					<div>Sonstiges</div>
					<li><a href="#scroll-gutscheine">Geschenk-Gutscheine für Ihre Liebsten</a></li>
					<li><a href="#scroll-rezensionen">Google Rezensionen</a></li>
					<li><a href="#scroll-kontakt">Kontakt</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<section class="introduction">

			<br>
			<div class="intro-grid">
				<Image loading="eager" src={teslimeKleinImg} alt="Teslime"/>
				<Image loading="eager" src={teslimeLogoImg} alt="Teslime.de"/>
			</div>
			<p class="intro-text">Mein Angebot<br>"Von Gesicht bis Fuss"</p>
			<div class="topics-grid">
				<a class="hydra-face" href="#scroll-gesicht">
					<Image src={hydraFaceTopImag} alt="Hydra-Face" loading="eager"/>
				</a>
				<Image class="willkommen" src={willkommenTopImg} alt="Willkommen" loading="eager"/>
				<a class="microneedling" href="#scroll-microneedling">
					<Image src={microneedlingTopImg} alt="Gold-Microneedling" loading="eager"/>
				</a>
				<a class="laser" href="#scroll-haare-diode">
					<Image src={laserTopImg} alt="Dioden-Laser" loading="eager"/>
				</a>
				<a class="fusspflege" href="#scroll-fuss">
					<Image src={fusspflegeTopImg} alt="Fusspflege" loading="eager"/>
				</a>
				<a class="hautanalyse" href="#scroll-hautanalyse">
					<Image src={hautanalyseTopImg} alt="Hautanalyse" loading="eager"/>
				</a>
				<a class="wimpernlifting" href="#scroll-augen">
					<Image src={wimpernliftingTopImg} alt="Wimpernlifting" loading="eager"/>
				</a>
				<a class="faltenlifting" href="#scroll-facelifting">
					<Image src={faceliftingTopImg} alt="Faltenlifting" loading="eager"/>
				</a>
			</div>
			<div class="qr-grid">
				<div class="column">
					<a href="https://wa.me/4917662157680" target="_blank" rel="noopener noreferrer">
						<Image src={whatsappQrImg} alt="Whatsapp"/>
					</a>
					<span><span>SCAN & GO<br> to chat</span><br>0176-62157680</span>
				</div>
				<div class="column">
					<a href="https://www.teslime.de" target="_blank" rel="noopener noreferrer">
						<Image src={teslimeQrImg} alt="Teslime.de"/>
					</a>
					<span>www.teslime.de</span>
				</div>
				<div class="column">
					<a href="https://www.facebook.com/kosmetik.teslime.schuster" target="_blank" rel="noopener noreferrer">
						<Image src={facebookQrImg} alt="Facebook"/>
					</a>
					<span>kosmetik.<br>teslime.schuster</span>
				</div>
				<div class="column">
					<a href="https://www.instagram.com/teslimeschuster/?r=nametag" target="_blank" rel="noopener noreferrer">
						<Image src={imageQrImg} alt="Instagram"/>
					</a>
					<span>teslimeschuster</span>
				</div>
				<div class="column">
					<a href="https://g.page/r/Ca9tkQy1JNHgEBM/review" target="_blank" rel="noopener noreferrer">
						<Image src={googleQrImg} alt="Google"/>
					</a>
					<span>Ich bitte um eine Bewertung</span>
				</div>
			</div>


			<!--<Image src={urlaubFlugzeugImg} alt="Bild eines Flugzeugs als Symbol für Urlaub" class="img_urlaub">-->

			<!--<p>-->
			<!--Liebe Kundinnen, Liebe Kunden,<br>-->
			<!--zwischen dem <span>20.08.2018</span> bis einschließlich 02.09.2018 bin ich im Urlaub. Meine Praxis ist für diese Zeit geschlossen.-->
			<!--Ihre Mails oder WhatsApp Nachrichten erhalte ich auf meinem Handy und werde auch antworten, aber vielleicht nicht immer zeitnah.-->
			<!--Ab dem 03.09.2018 freue ich mich, wieder für Sie da zu sein.<br>-->
			<!--Ihre Teslime Schuster-->
			<!--</p>-->

			<p>
				Liebe Kundinnen, Liebe Kunden,<br>
				Hier finden Sie meine Angebote.<br>
				Ich freue mich auf Ihren Anruf, Ihre WhatsApp Nachricht, E-Mail... und natürlich auf Ihren Besuch!<br>
				&phone; 07422-567820, ✆ 0176-62157680<br>
			</p>

			<hr>

		</section>

		<section>
			<span id="scroll-hautanalyse"></span>

			<h2>Hautanalyse</h2>

			<div class="tile gesicht">
				<h3>Mit dem Skin-Analyser</h3>
				<p style="margin-block:0">(eines der modernsten und besten Geräte auf dem Markt)<br>
					mit Alterssimulation 5-7 Jahre in die Zukunft und
					ausführliche Besprechung der Ergebnisse und Handlungsempfehlungen
				</p>
				<div>50,00&nbsp;€</div>

				<br><br>
				<Image src={gesichtsanalyseImg} alt="Gesichtsanalyse Gerät" width="698" height="737" style="width:40%;height:100%;min-width:250px;max-width:350px;border-radius:50%"/>
				<Image src={gesichtsanalyseSternImg} alt="Gesichtsanalyse Beispiel-Bild Falten, Poren, Spots, Empfindlichkeit" width="584" height="554" style="width:40%;height:100%;min-width:250px;max-width:350px"/>
				<Image src={gesichtsanalyseSternMiniImg} alt="" style="display:none"/>

				<br><br>
				<figure>
					<Image src={hautanalyseImg} alt="Hautanalyse Beispielbilder" style="width: 85%;height: 100%;max-width:800px"/>
					<figcaption style="font-size:.8rem">Beispielbilder, da bleibt nichts verborgen.</figcaption>
				</figure>

				<br><br>
				<h4>Beispiel einer Empfehlung:</h4>

				<ul class="hautanalyse-list">
					<li>Empfindliche Epidermis: <a href="#scroll-gesicht">Hydra-Face-Luxusbehandlung</a></li>
					<li>Poren und noch nicht sichtbare Pigmentflecken (UV-Spots): <a href="#scroll-microneedling">Gold&nbsp;Microneedling&nbsp;mit&nbsp;Radiofrequenz</a></li>
					<li>Falten: <a href="#scroll-facelifting">Face-Lifting mit Spezialultraschall</a></li>
					<li>Porphyrine (Talg und Fett): kein Handlungsbedarf</li>
				</ul>

				<p>Je kleiner der Stern, desto besser ist das Ergebnis.<br>Unbedingt Sonnenschutz für Gesicht und Dekolleté.</p>

				<h4>Teslimes Kommentar:</h4>
				<em>Sorgen machen mir die unter der Haut liegenden, noch nicht sichtbaren Pigmentflecken (UV-Spots), die aber in den nächsten Jahren sichtbar werden. Daher ist sofortiges Handeln und richtiges Pflegen der Haut nötig.</em>
				<br><br>
			</div>
		</section>

		<section>
			<span id="scroll-gesicht"></span>

			<h2>Gesichtsbehandlungen</h2>

			<div class="tile gesicht">
				<h3>Grundprogramm für gesunde Haut</h3>
				<h4>Hydra-Face</h4>

				<p>
					Teslimes Hollywoodbehandlung in drei Schritten:<br>
					(1) Hautanalyse + (2) Behandlung + (3) Glow-Effekt<br>
					<em>Empfohlen für: für jedes Alter</em><br>
					<em>Ausfallzeiten: Keine</em>
				</p>

				<div class="image-grid">
					<Image src={gesichtsanalyseImg} alt="Gesichtsanalyse Gerät" width="698" height="737" style="border-radius:50%"/>
					<Image style="object-fit:contain" src={gesichtsanalyseSternImg} alt="Gesichtsanalyse Beispiel-Bild Falten, Poren, Spots, Empfindlichkeit" width="584" height="554"/>
					<Image src={hydraFaceGeraet1Img} alt="Hydra Face Gerät" width="674" height="643"/>
					<Image src={hydraFaceGeraet2Img} alt="Hydra Face Gerät Beispielanwendung" width="516" height="643"/>
				</div>

				<br><br>

				<h4>Teslimes Kommentar:</h4>
				<em>Regelmäßige Anwendung, alle 6-8 Wochen, führt zu einer <span style="text-decoration:underline">dauerhaft strahlenden und gesunden Haut</span> und verlangsamt den Alterungsprozess der Haut erheblich. Es ist die perfekte Gesichtspflege für jedes Alter. Mit dem Hautanalysegerät dokumentiere ich jedes Mal den Zustand der Haut.</em>
				<br><br>

				<h3>Hydra-Face-Luxusbehandlung</h3>
				<div class="duration">ca.&nbsp;90&nbsp;min</div>
				<div>150,00&nbsp;€</div>

				<p class="underline">Schritt 1:</p>
				<ul class="checklist">
					<li>Aufnahme des Hautzustandes mit dem professionellen Hautanalysegerät, mit Alterssimulation 5-7 Jahre in die Zukunft</li>
				</ul>
				<p class="underline">Schritt 2: (auf Sie abgestimmt)</p>
				<ul class="checklist">
					<li>Hydra-Reinigung, Hydra/Diamant-Dermabrasion, Peeling, ggfs. Bedampfung, Skin-Skrubber, Reinigung mit Vakuumhandstücken, Sauerstoffpistole</li>
					<li>Hyaluron + Wirkstoffkomplex</li>
					<li>Bipolare und tripolare Radiofrequenz Behandlung</li>
					<li>Mikrostrom-Handschuh</li>
					<li>PDT-Lichttherapie</li>
					<li>Abschlusspflege /-massage</li>
				</ul>
				<p class="underline">Schritt 3 = Ergebnis:</p>
				<ul class="checklist">
					<li>Glow-Effekt: saubere + strahlende Haut für mehrere Wochen</li>
				</ul>
				<br>

				<p class="underline">Ergebnisbeispiel:</p>

				<div class="image-grid">
					<Image src={hydraFaceVorherImg} alt="Hydra-Face vor der Anwendung" width="768" height="1024"/>
					<Image src={hydraFaceNachherImg} alt="Hydra-Face nach der Anwendung - sichtbar strahlendere Haut" width="768" height="860"/>
				</div>

				<br>

				<h3>Klassische Kosmetikbehandlung</h3>
				<div class="duration">ca.&nbsp;90&nbsp;min</div>
				<div>90,00&nbsp;€</div>

				<br>
				<Image src={gesichtsbehandlung1Img} alt="Gesichtsbehandlung Beispiel 1"/>
				<Image src={gesichtsbehandlung2Img} alt="Gesichtsbehandlung Beispiel 2"/>
				<Image src={gesichtsbehandlung3Img} alt="Gesichtsbehandlung Beispiel 3"/>

				<p>
					Hals-/Gesicht-und Dekolletébehandlung mit individuell auf Ihre Haut abgestimmten Spezialprodukten,
					inkl. Wirkstoffampulle und Augenpackung/-maske.
				</p>
				<ul>
					<li>Nackenmassage</li>
					<li>Reinigungsmassage</li>
					<li>Hautanalyse</li>
					<li>Intensivpeeling</li>
					<li>Bedampfung</li>
					<li>Behandlung von Hautunreinheiten</li>
					<li>Augenbrauenkorrektur</li>
					<li>Wirkstoffampulle oder Serum</li>
					<li>Gesichts-Hals-Dekolletémassage</li>
					<li>Packung/Maske</li>
					<li>Abschlusspflege</li>
				</ul>
			</div>

			<div class="tile gesicht">
				<h3>Intensiv-Gesichtsreinigung</h3>
				<div class="duration">ca.&nbsp;60&nbsp;min</div>
				<div>70,00&nbsp;€</div>
				<ul>
					<li>Reinigungsmassage</li>
					<li>Intensivpeeling</li>
					<li>Bedampfung</li>
					<li>Behandlung von Hautunreinheiten</li>
					<li>Ampulle</li>
					<li>Abschlusspflege</li>
				</ul>
			</div>

			<span id="scroll-microneedling"></span>
			<div class="tile">
				<h3 style="margin-top:0.5em">Narben/Akne-Narben, großpoorige Haut<br>Gold-Microneedling mit RF</h3>

				<p style="margin-top:0">
					Starkes Duo: Microneedling plus Radiofrequenz<br>
					<em>Empfohlen für: für jedes Alter</em><br>
					<em>Ausfallzeiten: Keine</em>
				</p>

				<div class="microneedling-image-grid">
					<Image src={microneedlingAblaufImg} alt="Microneedling Schaubild - Nadeln dringen in die Haut und geben Radiofrequenzenergie ab" width="1013" height="393"/>
					<Image src={microneedlingMaschineImg} alt="Microneedling Gerät" width="639" height="462"/>
					<Image src={microneedlingFrauImg} alt="Microneedling Beispiel Ergebnis am Gesicht einer Frau" width="534" height="642"/>
				</div>

				<p class="underline">Indikationen</p>
				<ul class="checklist" style="text-align:left">
					<li class="underline">Hautverjüngung/Hautstraffung von außen und von innen</li>
					<li>Aknenarben, sonstige Narben</li>
					<li>großporige Haut</li>
					<li>Pigmentflecken</li>
					<li>Augenringe</li>
					<li>Falten</li>
					<li>übermäßiges Schwitzen im Achselbereich</li>
					<li>Dehnungsstreifen, OP-Narben</li>
				</ul>

				<ul class="checklist-x">
					<li>Ergebnis nach ca. 2 Monaten voll sichtbar</li>
					<li>Wirkungsdauer: ca. 2 Jahre und länger</li>
				</ul>

				<div class="item">
					<p>Gesicht komplett</p>
					<div>300,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Hals</p>
					<div>150,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Dekolleté</p>
					<div>150,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht + Hals</p>
					<div>400,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht + Hals + Dekolleté</p>
					<div>450,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Achseln (gegen übermäßiges Schwitzen)</p>
					<div>130,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Dehnungsstreifen</p>
					<div>individuell</div>
				</div>

				<ul class="checklist-x">
					<li>eine 3-er Kur, alle 6 Wochen bringt die besten Ergebnisse</li>
					<li>Kurpreis: dritte Behandlung zum halben Preis</li>
				</ul>

			</div>

			<div class="tile gesicht">
				<h3>Micro Needling</h3>
				<h4>Das natürliche Face-Lift ohne OP</h4>
				<div class="duration">ca.&nbsp;60&nbsp;min</div>
				<div>110,00&nbsp;€</div>
				<br>
				<div>als Kur (4-6 mal, 1x pro Monat) 95,00&nbsp;€</div>
				<p>
					Das Micro Needling mittels Needling Pen ist ein neues und
					sehr erfolgreiches Verfahren im Bereich der Anti-Aging- und
					Problemhaut-Behandlungen. Durch die gezielte Perforation der Haut
					(Needling Pen mit 24 feinen Nadeln), setzen die Zellen unmittelbar
					nach der Anwendung Wachstumsfaktoren frei, welche die Produktion
					von Kollagen und Elastin und die Ausschüttung von Hyaluronsäure
					stimulieren.
					<br>
					Die Aufnahmefähigkeit der aufgetragenen Wirkstoffe
					wird erheblich gesteigert, was zu einem deutlich verbesserten
					Hautergebnis führt. Anwendungsbereiche:
					Gesicht, Augen, Lippen, Hals, Dekolleté, Körper und Hände.
					Sensationelle Ergebnisse im Bereich:
				</p>
				<ul class="checklist">
					<li>Hautfestigung</li>
					<li>Faltenreduktion</li>
					<li>Hautverjüngung von sonnengeschädigter Haut</li>
					<li>Narben verschiedener Art (besonders&nbsp;Aknenarben)</li>
					<li>Dehnungs- und Schwangerschaftsstreifen</li>
					<li>Aufhellung von Pigmentstörungen</li>
					<li>Porenverkleinerung und Verfeinerung des Hautbildes</li>
				</ul>
				<p>
					Es wird eine Kurbehandlung von 4-6 Behandlungen in&nbsp;4-wöchigen
					Abständen empfohlen
				</p>
			</div>

			<div class="tile gesicht">
				<h3>Fruchtsäurepeeling</h3>
				<div class="duration">ca.&nbsp;60&nbsp;min</div>
				<div>80,00&nbsp;€</div>
				<br>
				<div>als Kur (4-6 mal, 1x pro Monat) 70,00&nbsp;€</div>
				<p>
					Bei vielen Hautleiden kommt es zu einer übermäßigen Anhäufung
					toter Hautzellen, so dass die Haut dick wird und ihren Glanz
					verliert. Mit Hilfe von Fruchtsäuren lassen sich die auf der
					Hautoberfläche liegenden Hautzellschichten ablösen und entfernen.
					Auf diese Weise wird die Schicht der Hornzellen dünner und es
					kommt zu einer fortlaufenden Verbesserung des Aussehens und der
					Beschaffenheit der Haut.
					Anwendung unter Einschleusung von Hyaluronsäure bei:

				</p>
				<ul class="checklist">
					<li>Akne (jugendliche/erwachsene Haut)</li>
					<li>offene und geschlossene Komedonen (Mitesser)</li>
					<li>unreine und grobporige Haut</li>
					<li>reife Haut, erschlaffte Haut, Fältchen, Pigmentflecken</li>
					<li>lichtgeschädigte Haut</li>
					<li>stumpfe, glanzlose und raue Haut</li>
				</ul>
			</div>

			<div class="tile gesicht">
				<h3>Diamant-Mikrodermabrasion</h3>
				<div class="duration">ca.&nbsp;60&nbsp;min</div>
				<div>75,00&nbsp;€</div>
				<br>
				<div>als Kur (4-6 mal, 1x pro Monat) 65,00&nbsp;€</div>
				<p>
					Kontrolliertes Abtragen von Verhornungen, Anregung der Zellteilung
					und Verfeinerung des Hautbildes, Minderung von Falten, Aufhellen von
					Pigment- und Altersflecken, Verbesserung von Narben, Behandlung von
					großporiger und unreiner Haut, selbst für empfindliche Haut geeignet.
					<br>
					Auch hier wird hochdosierte Hyaluronsäure mit Ultraschall eingeschleust.
				</p>
				<ul class="checklist">
					<li>Akne (jugendliche/erwachsene Haut)</li>
					<li>offene und geschlossene Komedonen (Mitesser)</li>
					<li>unreine und grobporige Haut</li>
					<li>reife Haut, erschlaffte Haut, Fältchen, Pigmentflecken</li>
					<li>lichtgeschädigte Haut</li>
					<li>stumpfe, glanzlose und raue Haut</li>
				</ul>
			</div>

			<span id="scroll-facelifting"></span>
			<div class="tile">
				<h3 style="margin-top:0.5em">Face-Lifting</h3>
				<h4>Der Faltenkiller mit Spezialultraschall</h4>

				<p>Bereits ab dem 20. - 25. Lebensjahr fängt die Haut ganz langsam
					an zu altern, die Anzahl der Kollagen- und Elastinfasern
					verringert sich, die Fasern reißen und werden kürzer.
					Es entstehen Falten.</p>

				<p>Das Face-Lifting mit meinem Spezial-Ultraschall-Gerät ist die
					beste Alternative zur Faltenbekämpfungs-OP. Es ist eine
					extrem gute After-Aging-Behandlung ab dem 40. Lebensjahr.
					Der Kollagen- und Elastinrückgang wird gestoppt und zu
					neuem Wachstum angeregt.</p>

				<p>Kleinere Falten verschwinden vollständig, tiefere Falten
					werden erheblich reduziert. Man erhält ein deutlich jüngeres
					Aussehen für mehrere Jahre.</p>

				<ul class="checklist" style="text-align:left">
					<li>Die beste Faltenbekämpfung ohne OP</li>
					<li>Hautverjüngung/Hautstraffung von Innen</li>
					<li>nur eine Behandlung nötig</li>
					<li>wird aber speziell ab 40 Jahren empfohlen</li>
					<li>Wirkdauer: 3-4 Jahre</li>
					<li>Ergebnis: 20% sofort sichtbar, danach verjüngt sich die Haut allmählich in den nächsten 6 Monaten</li>
					<li>schmerzfrei, keine Ausfallzeiten</li>
					<li>ausführliche Beratung in der Praxis</li>
				</ul>

				<div class="facelifting-image-grid">
					<Image src={faltenkiller1Img} alt="Faltenkiller: Bild von junger Frau" width="262" height="274"/>
					<Image src={faltenkiller2Img} alt="Faltenkiller: Frischer Apfel und verschrumpelter Apfel" width="344" height="240"/>
					<Image src={faltenkiller3Img} alt="Faltenkiller: Bild von junger Frau" width="266" height="276"/>
				</div>

				<div class="item">
					<p>Gesicht + Hals + Dekolleté</p>
					<div>950,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht + Hals</p>
					<div>800,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht</p>
					<div>650,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Dekolleté</p>
					<div>500,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Tränensäcke</p>
					<div>75,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Areal am Körper, je ca. 10 x 10cm</p>
					<div>160,00&nbsp;€</div>
				</div>
			</div>

		</section>

		<section>
			<span id="scroll-augen"></span>

			<div class="tile">
				<h3>Wimpernlifting</h3>
				<p style="margin-block:0">
					Ausdrucksvoller Blick für ca. 6-8 Wochen. Dauerhafter Schwung
					und natürliche Betonung auch bei kurzen Wimpern<br>
					<em>Empfohlen für: jedes Alter</em>
				</p>
				<div style="opacity:0.7">60,00&nbsp;€</div>

				<Image class="img_wimpernwelle" src={wimpernwelleImg} alt="Wimpernwelle"/>

				<div class="item">
					<p>Wimpern färben</p>
					<div>13,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Augenbrauen neu formen</p>
					<div>17,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Augenbrauen korrigieren</p>
					<div>11,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Augenbrauen färben</p>
					<div>11,00&nbsp;€</div>
				</div>

			</div>
		</section>

		<section>
			<span id="scroll-haare-wachs"></span>

			<h2>Haarentfernung</h2>

			<div class="tile">
				<h3>Haarentfernung mit Wachs</h3>

				<div class="item">
					<p>Oberlippe oder Kinn</p>
					<div>je&nbsp;10,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Oberlippe oder Kinn, während einer Behandlung</p>
					<div>je&nbsp;6,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht komplett</p>
					<div>25,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Gesicht komplett, während einer Behandlung</p>
					<div>20,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Beine bis Knie</p>
					<div>35,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Beine komplett</p>
					<div>50,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Achseln</p>
					<div>15,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Bikinizone (nur Damen)</p>
					<div>20,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Rücken oder Brust</p>
					<div>35 - 45,00&nbsp;€</div>
				</div>
			</div>

			<div class="tile">
				<span id="scroll-haare-diode"></span>

				<h3>dauerhafte Haarentfernung<br> mit Dioden-Laser</h3>
				<p>Nahezu schmerzfrei. Der LASER wird für jeden Kunden und Körperbereich individuell eingestellt.<br>Im Normalfall sind 4-8 Behandlungen notwendig, alle 4-6 Wochen.</p>

				<Image class="img_laser1" src={laserImg} alt="Der Laserkopfrahmen wird eisig gekühlt um die oberste Hautschicht (Epidermis) zu schützen!"/>

				<div class="bild-container">
					<Image class="img_diode" src={laserDiodenImg} alt="Dioden-Laser"/>
					<Image class="img_sommerbeine" src={laserSommerbeineImg} alt="Sommerbeine"/>
					<Image class="img_winterzeit" src={laserWinterzeitImg} alt="Winterzeit ist Laserzeit"/>
				</div>

				<br>

				<h3 class="clearfix">Einzelbehandlungen</h3>
				<div class="item">
					<p>Oberlippe oder Kinn oder Wangen</p>
					<div>25,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Hals oder Nacken</p>
					<div>40,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Achseln</p>
					<div>35,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Bikinizone oder Intimzone (nur Damen)</p>
					<div>45,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Unterarme oder Oberarme</p>
					<div>50,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Rücken, oberer oder unterer Bereich</p>
					<div>50,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Brust oder Bauch</p>
					<div>50,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Beine Unterschenkel</p>
					<div>85,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Beine Oberschenkel</p>
					<div>100,00&nbsp;€</div>
				</div>

				<h3>Ermässigung im kleinen Paket</h3>
				<div class="subtext">
					<div>ca. 10%&nbsp;Ermäßigung</div>
				</div>

				<div class="item">
					<p>Gesicht komplett</p>
					<div>60,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Arme komplett</p>
					<div>90,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Rücken komplett</p>
					<div>90,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Brust + Bauch komplett</p>
					<div>90,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Beine komplett</p>
					<div>170,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Bikinizone + Intimzone (nur Damen)</p>
					<div>85,00&nbsp;€</div>
				</div>

				<h3>Ermässigung im großen Paket</h3>
				<div class="subtext">
					<div>ca. 20%&nbsp;Ermäßigung</div>
				</div>

				<div class="item">
					<p>Achseln,<br>Bikinizone + Intimzone (nur Damen),<br>Beine Unterschenkel</p>
					<div>170,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Achseln,<br>Bikinizone + Intimzone (nur Damen),<br>Beine komplett</p>
					<div>230,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>mindestens drei Einzelbehandlungen<br>von jeweils 50&nbsp;€ und mehr,<br>nach eigener Wahl</p>
					<div>20%&nbsp;Ermäßigung</div>
				</div>

				<br>
				<h3>Die drei Phasen des Haarwachstums (Haarzyklus)</h3>
				<strong class="sub-heading">Trotz modernster Technik sind mehrere Behandlungen nötig???</strong>
				<p>
					Je nach Körperregion befinden sich <strong>20-30%</strong> der Haare in der <strong>Anagenphase</strong> die mit der <strong>Papille</strong> verbunden sind und nur diese kann der <strong>LASER</strong> entfernen.
					Beim nächsten Termin sind andere Haare in dieser Phase, dann werden auch diese entfernt. Daher sind mehrere Termine nötig.
				</p>

				<Image class="img_laser2" src={laserErklaerungImg} alt="Haut Querschnitt"/>

				<br>
				<div class="gesicht">
					<h3>Verhalten vor und nach der LASER-Behandlung</h3>
					<ul class="checklist">
						<li>ca. 4 Wochen vor den Behandlungen keine Haare zupfen oder mit Wachs bzw. Zuckerpaste entfernen (Rasieren ist erlaubt, bitte einen Tag vorher rasieren),</li>
						<li>ca. 4 Wochen vor und nach den Behandlungen kein intensives Sonnenbad (bzw. Schutzkreme mit Faktor 50 benutzen) und kein Solarium,</li>
						<li>ca. 24 h nach den Behandlungen keine Vollbäder, Sauna, Chlorwasser (Schwimmbad) oder Sport</li>
					</ul>
				</div>

				<small>Mögliche Nebenwirkungen: Hyperpigmentierung (dunkle Hautverfärbung), Hypopigmentierung (weiße Flecken), Blasenbildung, Wundentzündung, Wundheilungsstörung.</small>

			</div>

		</section>

		<section>
			<span id="scroll-massagen"></span>

			<h2>Massagen</h2>

			<div class="tile">

				<h3>Klassisch/Wellness</h3>

				<Image class="img_hotstone" src={hotStoneMassageImg} alt="Massage Beispiel"/>

				<p>
					Wirkung: Entspannung der Muskulatur, lokale Verbesserung der
					Durchblutung, Senkung des Blutdrucks und des Pulses,
					Verbesserung des Zellstoffwechsels, Stressabbau,
					psychische&nbsp;Entspannung u.a.
				</p>

				<div class="item">
					<p>Klassiche Körpermassage<span>ca.&nbsp;60&nbsp;min</span></p>
					<div>66,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Rückenmassage inkl. Arme und Hände<span>ca.&nbsp;30&nbsp;min</span></p>
					<div>38,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Hot Stone Massage<span>ca.&nbsp;60&nbsp;min</span></p>
					<div>75,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Ayurvedische Genzkörpermassage<span>ca.&nbsp;60&nbsp;min</span></p>
					<div>66,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Lomi Lomi Massage<span>ca.&nbsp;60&nbsp;min</span></p>
					<div>66,00&nbsp;€</div>
				</div>

			</div>

			<div class="tile gesicht">
				<h3>Fussreflexzonenmassage</h3>
				<strong class="sub-heading">(nach Hanne Marquardt)</strong>
				<div class="duration">ca.&nbsp;30&nbsp;min</div>
				<div>36,00&nbsp;€</div>
				<ul>
					<li>Beschwerden lindern</li>
					<li>Selbstheilungskräfte anregen</li>
					<li>Verbesserung der Durchblutung und des peripheren Lymphabflusses</li>
				</ul>
			</div>

		</section>

		<section>
			<span id="scroll-manikuere"></span>

			<h2>Maniküre</h2>

			<div class="tile">

				<h3>Maniküre-klassisch</h3>

				<div class="item">
					<p>Beurteilung der Haut & Nägel<br>Naturnägel formen<br>Nagelbad<br>Nagelhautpflege<br>Abschlusscreme</p>
					<div>35,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Nägel lackieren</p>
					<div>10,00&nbsp;€</div>
				</div>

				<small>* Entfernung einer früheren Lackierung: 5 €</small>

			</div>

		</section>

		<section>
			<span id="scroll-shellac"></span>

			<div class="tile">

				<h3>Shellac</h3>
				<strong class="sub-heading">Der Nagellack der Stars</strong>

				<p>
					Auftragbar wie Nagellack, haltbar wie Gel, mind.&nbsp;14&nbsp;Tage haltbar,
					kein Abblättern, absolut kratzfester, widerstandsfähiger
					UV-gehärteter Hochglanz. Keine Trocknungszeit erforderlich.
				</p>

				<div class="item">
					<p>Maniküre + SHELLAC-Lackierung</p>
					<div>40,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>SHELLAC-Lackierung</p>
					<div>25,00&nbsp;€</div>
				</div>

				<small>* Entfernung einer früheren SHELLAC-Lackierung: 10 €</small>

			</div>
		</section>

		<section>
			<span id="scroll-fuss"></span>

			<h2>Bereich Fusspflege</h2>

			<div class="tile">

				<h3>Medizinische Fachfußpflege</h3>
				<strong class="sub-heading">(auch für Diabetiker)</strong>

				<br>
				<Image class="img_fußpflege" src={fusspflegeImg} alt="Bild von Teslime im Kosmetikstudio"/>

				<div class="item">
					<p>Aromafußbad<br>
						Nägel schneiden, Nägelverschönerung<br>
						Hornhaut entfernen/abschleifen<br>
						ggfs. Hühneraugen entfernen<small>, ein Hühnerauge inkl.</small><br>
						ggfs. Pilznägel abschleifen<br>
						ggfs. eingewachsene Nägel oder Rollnägel behandeln<br>
						komplette Fachfußpflege
						<span>ca.&nbsp;45&nbsp;min</span></p>
					<div>46,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Hühneraugen entfernen
						<small>, zwei und mehr</small>
					</p>
					<div>je&nbsp;11,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Fußreflexzonenmassage, <br>nach Hanne Marquardt <span>ca.&nbsp;30&nbsp;min</span></p>
					<div>39,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Relax-/Wellnessfußmassage <span>ca.&nbsp;15&nbsp;min</span></p>
					<div>20,00&nbsp;€</div>
				</div>

				<div class="item">
					<p>Nägel lackieren</p>
					<div>10,00&nbsp;€</div>
				</div>

				<small>* Entfernung einer früheren Lackierung: 5 €</small>
				<br>
				<small>* Entfernung einer früheren SHELLAC-Lackierung: 10 €</small>

				<!--        <div class="item">-->
				<!--          <p>Komplette Fachfußpflege + Peeling</p>-->
				<!--          <div>45,00&nbsp;€</div>-->
				<!--        </div>-->

				<!--        <div class="item">-->
				<!--          <p>Wellness für die Hände, während der Fußpflege:<br> Handpeeling + Maske</p>-->
				<!--          <div>15,00&nbsp;€</div>-->
				<!--        </div>-->

			</div>

			<span id="scroll-fuss-nagelpilz"></span>
			<div class="tile">

				<div class="gesicht">
					<h3>Nagelpilz-Behandlung</h3>
					<strong class="sub-heading">Nagelpilzbehandlung mit dem PACT-MED-Phototherapie-Strahler, schmerzfrei und ohne Nebenwirkungen.</strong>
					<div>je Bestrahlung&nbsp;30,00&nbsp;€</div>
					<br>
					<br>
					<Image class="img_inside" src={nagelpilzErkrankungsstadienImg} alt="Nagelpilz Erkrankungsstadien"/>
					<p><strong>Behandlungsablauf:</strong></p>
					<ul>
						<li>
							<strong>In der Praxis: </strong>
							Die pilzbefallenen Nagelteile werden abgefräst und ein
							Spezialgel wird aufgetragen. Nach einer Einwirkzeit erfolgt die photo-
							dynamische Pilz-/Keimabtötung mit dem PACT-Strahler. In der ersten
							Woche jeden zweiten Tag eine Bestrahlung, eine Woche später noch eine
							Bestrahlung, danach eventuell noch eine, je nach Schwere des Pilzbefalls.
							<br>
							<strong>Zu Hause: </strong>
							antimykotische Mittel auf die befallenen Nägel und umliegende
							Haut auftragen, Socken desinfizieren und Schuhe nicht zwei Tage
							hintereinander tragen.
							<br>
							<strong>Ergebnis 1: </strong>
							Der Nagelpilz verschwindet und alles ist gut.
							<br>
							<strong>Ergebnis 2: </strong>
							Ihr Immunsystem ist nicht stark genug, eine Wiederansteckung
							tritt ein. Wir wiederholen die Behandlung nach 1-2 Jahren. Der Nagelpilz
							wird also immer wieder kräftig zurückgedrängt und klein gehalten.
						</li>
					</ul>
					<Image class="img_inside" src={pactTherapieImg} alt="Therapie mit der PACT Lampe"/>
				</div>

			</div>

			<span id="scroll-fuss-eingewachsen"></span>
			<div class="tile">

				<div class="gesicht">

					<h3>Nagelkorrektur mit Spangentechnik</h3>
					<strong class="sub-heading">Bei schmerzhaft eingewachsenen/eingerollten Nägeln.</strong>
					<div class="duration">Nagelkorrektur mit einer Spange</div>
					<div>je&nbsp;Nagel&nbsp;40,00&nbsp;€</div>
					<ul>
						<li>
							Bei schmerzhaft eingewachsenen/eingerollten Nägeln verwenden wir Spangen zum Aufkleben.
							Die Spange zieht die Nagelränder sanft hoch, der Nagel wächst dann weniger gekrümmt heraus und nach ca. 4-6 Wochen wird die Spange erneuert.
							Nach ein paar Monaten hat der Nagel eine normale Wölbung. (siehe Fotos)
						</li>
					</ul>
					<Image class="img_inside" src={nagelkorrekturSpangeImg} alt="Spange für Nagelkorrektur"/>
				</div>

			</div>
		</section>

		<br>
		<section>
			<span id="scroll-gutscheine"></span>

			<div class="tile">
				<div class="underline"><strong>GUTSCHEIN</strong></div>

				<div>
					Alle Behandlungen sind auch als Gutschein erhältlich.
				</div>

				<div>Ich freue mich auf Ihre Nachricht.</div>
			</div>

		</section>

		<br>
		<span id="scroll-rezensionen"></span>
		<section class="rezensionen-area">
			<Image src={rezensionenSterneImg} alt="4,9 Sterne Bewertung bei Google" width="674" height="254"/>
			<Image src={rezension1Img} alt="" width="984" height="370"/>
			<Image src={rezension2Img} alt="" width="1002" height="402"/>
			<Image src={rezension3Img} alt="" width="968" height="392"/>
			<Image src={rezension4Img} alt="" width="996" height="384"/>
			<Image src={rezension5Img} alt="" width="974" height="320"/>
			<Image src={rezension6Img} alt="" width="996" height="388"/>
			<Image src={rezension7Img} alt="" width="1002" height="512"/>
			<Image src={rezension8Img} alt="" width="956" height="386"/>
		</section>
	</main>

	<hr>

	<footer>
		<span id="scroll-kontakt"></span>

		<h2>Kontakt</h2>

		<div class="contact">

			<address>
				KOSMETIK UND MEDIZINISCHE<br>
				FACHFUSSPFLEGE TESLIME SCHUSTER<br>
				(ärztlich geprüfte Kosmetikerin und med. Fachfusspflegerin)<br>
				Eva-Zeisel-Str. 4, 78713 Schramberg-Sulgen<br>
				✆ <a href="https://wa.me/4917662157680" target="new">0176-62157680 (WhatsApp)</a>, &phone; 07422-567820<br>
				<a href="https://www.instagram.com/teslimeschuster/?r=nametag" target="new" style="display: inline-flex; align-items: center"><Image class="img_instagram" src={instagramImg} alt=""/>teslimeschuster (Instagram)</a>,<br>
				<a href="https://www.teslime.de" target="new">www.teslime.de</a>,
				&#9993; <a href="mailto:teslime.schuster@gmail.com">teslime.schuster@gmail.com</a>
			</address>

			<br>

			<div class="underline">
				Öffnungszeiten:
			</div>
			<div>
				Montag bis Freitag 9:00 bis 18:00 Uhr, Termine nach Vereinbarung.
			</div>

			<br>

			<div class="underline">
				Hinweise:
			</div>

			<div class="max-width-700">
				Bitte geben Sie uns möglichst früh
				Bescheid, falls Sie einen Termin nicht einhalten können. Danke.
				<br><br>
				Bitte haben Sie Verständnis dafür, dass ich während
				einer Behandlung nicht abnehmen kann. Sprechen Sie
				bitte auf den Anrufbeantworter, hinterlassen Sie
				Ihre Telefonnummer, ich rufe Sie so schnell wie möglich zurück.
			</div>
			<br>
			<div>
				Ein ausgewiesener Kundenparkplatz vor der Garage steht zur Verfügung. Ein WLAN-Gastzugang ist vorhanden.
				Sie können während der Fußpflege Ihr Handy aufladen und verwenden.
			</div>

			<br>

			<div>
				<small>Zwecks Navigation bitte auf 'Größere Karte ansehen', bzw. auf 'Routenplaner' klicken.</small>
			</div>

			<iframe
				title="Navigation zur Praxis mit Google Maps"
				class="img_map"
				style="border:0"
				loading="lazy"
				allowfullscreen
				referrerpolicy="no-referrer-when-downgrade"
				src={`https://www.google.com/maps/embed/v1/place?key=${googleMapsKey}
    &q=Eva-Zeisel-Straße+4,+78713+Schramberg`}>
			</iframe>

			<br><br>

			<div>Terminblock/Kontaktdaten zum Ausdrucken:</div>

			<a href="./Terminblock_Teslime.pdf" download="Terminblock_Teslime">
				<Image class="img_inside" src={termineKosmetikImg} alt="Terminblock Bild zum ausdrucken"/>
			</a>

			<br>

			<p>
				Eröffnung der Praxis: März 2016
			</p>

			<p>
				<strong>Webmaster:</strong><br>
				Alexander Schuster<br>
				&#9993; <a href="mailto:alexander.schuster@web.de">alexander.schuster@web.de</a><br>
				letzte Aktualisierung: 27.03.2024
			</p>
		</div>

	</footer>
</Layout>
